XinHuaDailyXib.xcodeproj/project.xcworkspace/xcuserdata/alex.xcuserdatad/UserInterfaceState.xcuserstate
XinHuaDailyXib.xcodeproj/project.xcworkspace/xcuserdata/alex.xcuserdatad/XinHuaDailyXib.xccheckout
.gitignore
