XinHuaDailyXib.xcodeproj/project.xcworkspace/xcuserdata/apple.xcuserdatad/UserInterfaceState.xcuserstate
XinHuaDailyXib.xcodeproj/project.xcworkspace/xcuserdata/apple.xcuserdatad/XinHuaDailyXib.xccheckout
XinHuaDailyXib.xcodeproj/project.xcworkspace/xcuserdata/zqx.xcuserdatad/UserInterfaceState.xcuserstate
.gitignore
