<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>lnfb 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>lnfb.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>lnzw_inhouse.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18126D01171171A3001AC7D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1847F2581820A84A008C010D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1847F26E1820A93A008C010D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1887389418FCD3B00032CF2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18B5C3411820A1FA00B28B75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18D44F7F17A0C14D007F63E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18D4506E17A0C289007F63E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18F00C121796666B0084029D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18F00D0717968A4D0084029D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18F00DEA17968B390084029D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18F7841D1797901700551AF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BE4749E15672D0000081C82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BE474BF15672D0000081C82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
